
<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <div class="container-fluid mt-3">
    <hr>
    <!--Navigation Button-->
    <button class="btn btn-primary mr-2" routerLink="/addClient">Registration Page</button>
    <button class="btn btn-primary mr-2" routerLink="/viewClient">View Client Page</button>
    <button class="btn btn-primary mr-2" routerLink="/addMeetings">Add Meeting</button>
    <button class="btn btn-primary mr-2" routerLink="/viewMeeting">View Meetings</button>
   <hr>
  </div>
</nav>
  


<!-- Router Outlet for displaying components based on the route -->
<router-outlet> </router-outlet>

